<suite>
  <test>
    <test>
      <__classes>
        <__class>
          <class>
            <name>mytest1</name>
          </class>
        </__class>
      </__classes>
    </test>
    <test>
      <__classes>
        <__class>
          <class>
            <name>mytest3</name>
          </class>
        </__class>
      </__classes>
    </test>
    <test>
      <__classes>
        <__class>
          <class>
            <name>mytest5</name>
          </class>
        </__class>
      </__classes>
    </test>
    <test>
      <__classes>
        <__class>
          <class>
            <name>mytest7</name>
          </class>
        </__class>
      </__classes>
    </test>
    <test>
      <__classes>
        <__class>
          <class>
            <name>mytest9</name>
          </class>
        </__class>
      </__classes>
    </test>
    <test>
      <__classes>
        <__class>
          <class>
            <name>mytest11</name>
          </class>
        </__class>
      </__classes>
    </test>
    <test>
      <__classes>
        <__class>
          <class>
            <name>mytest13</name>
          </class>
        </__class>
      </__classes>
    </test>
  </test>
</suite>